# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment files
.env
env_template.txt

# Local DB / data files
*.db
messages.json

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
